<!--
  Generated template for the TagebucheintraegePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tagebucheinträge</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Medikamente</h2>
  <ion-list>
    
 
    <ion-item *ngFor="let medi of mediList | async "  >
    <b>Bezeichnung:</b> <p>{{medi.title}}</p>
    <b>Dosierung:</b> <p>{{medi.dosierung}}</p>
   <b> Menge: </b><p>{{medi.menge}}</p>
   <b> Tag der Einnahme: </b><p>{{medi.date}}</p>
      
    </ion-item>

  </ion-list>
  <h2>Energylevel</h2>
  <ion-list>
    
 
    <ion-item *ngFor="let energy of energyList | async "  >
    <b>Energielevel:</b> <p>{{energy.enlev}} von 10</p>
   
   <b> Datum: </b><p>{{energy.date}}</p>
      
    </ion-item>
    
  </ion-list>

  <h2>Aktivitätslevel</h2>
  <ion-list>
    
 
    <ion-item *ngFor="let actlev of actlevList | async "  >
    <b>Aktivitätslevel:</b> <p>{{actlev.actlev}} von 10</p>
   
   <b> Datum: </b><p>{{actlev.date}}</p>
      
    </ion-item>
    
  </ion-list>

</ion-content>

