<!--
  Generated template for the TagebucheintraegePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tagebucheinträge</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
 <h2>Wählen Sie den gewünschten Tag:</h2>
 <ion-icon name="calendar" class="large"><ion-datetime   displayFormat="YYYY-MM-DD" id="tdate" [(ngModel)]="tdate ">
</ion-datetime></ion-icon>

<ion-item>
<button ion-button (click)="showFilterDate(tdate)" big round icon-start>Einträge nach Datum Anzeigen</button>
<button ion-button (click)="showAll()" big round icon-start>Alle Einträge Anzeigen</button>
</ion-item>
  

  

  <h2>Medikamente Filter</h2>
  

 
  <ion-list reorder="true">
    
    
 
    <ion-item *ngFor="let medi of filteredTextMediList | async "  >
    <b>Bezeichnung:</b> <p>{{medi.title}}</p>
    <b>Dosierung:</b> <p>{{medi.dosierung}}</p>
   <b> Menge: </b><p>{{medi.menge}}</p>
   <b> Tag der Einnahme: </b><p>{{medi.date}}</p>
      
    </ion-item>

    <h2>Energylevel Filter</h2>
    <ion-list reorder="true">
      
   
      <ion-item *ngFor="let energy of filteredEnergyList | async "  >
      <b>Energielevel:</b> <p>{{energy.enlev}} von 10</p>
     
     <b> Datum: </b><p>{{energy.date}}</p>
        
      </ion-item>
      
    </ion-list >

  </ion-list >
  <h2>Aktivitätslevel Filter</h2>
  <ion-list reorder="true">
    
 
    <ion-item *ngFor="let actlev of filteredActlevelList | async "  >
    <b>Aktivitätslevel:</b> <p>{{actlev.actlev}} von 10</p>
   
   <b> Datum: </b><p>{{actlev.date}}</p>
      
    </ion-item>
    
  </ion-list>
  <h2>Medikamente</h2>
  <ion-list reorder="true">
    
    
 
    <ion-item *ngFor="let medi of allmediList | async "  >
    <b>Bezeichnung:</b> <p>{{medi.title}}</p>
    <b>Dosierung:</b> <p>{{medi.dosierung}}</p>
   <b> Menge: </b><p>{{medi.menge}}</p>
   <b> Tag der Einnahme: </b><p>{{medi.date}}</p>
      
    </ion-item>

  </ion-list >

  <h2>Energylevel</h2>
  <ion-list reorder="true">
    
 
    <ion-item *ngFor="let energy of allenergyList | async "  >
    <b>Energielevel:</b> <p>{{energy.enlev}} von 10</p>
   
   <b> Datum: </b><p>{{energy.date}}</p>
      
    </ion-item>
    
  </ion-list >

  <h2>Aktivitätslevel</h2>
  <ion-list reorder="true">
    
 
    <ion-item *ngFor="let actlev of allactlevList | async "  >
    <b>Aktivitätslevel:</b> <p>{{actlev.actlev}} von 10</p>
   
   <b> Datum: </b><p>{{actlev.date}}</p>
      
    </ion-item>
    
  </ion-list>

</ion-content>

