<!--
  Generated template for the SchmerzeintraegePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Schmerzeinträge</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #f0f0df"  padding>


 <h2>Wählen Sie den gewünschten Tag:</h2>
            <p></p>
          <ion-item style="background-color: #f0f0df" >
               
               <ion-img item-start [width]="50" [height]="50" src="../../assets/imgs/cal.png" class="img"></ion-img>
               
               
           <ion-datetime item-content  displayFormat="DD-MM-YYYY"  [(ngModel)]="tdate">
               
           
           </ion-datetime>
           <p></p>
           <p></p>
         </ion-item>
 
 <ion-item style="background-color: #f0f0df" >
 <p><button ion-button (click)="showFilterDate(tdate)" style="color:#030c0b"  class="btn2" big round icon-start>Einträge nach Datum Anzeigen</button></p>
 <b>Oder lass dir alle Einträge anzeigen:</b>
 <p><button ion-button (click)="showAll()" style="color:#030c0b"  class="btn2" big round icon-start>Alle Einträge Anzeigen</button></p>
 </ion-item>
 <div [hidden]="shouldHide">
 
      <!--
 Liste der gefilterten Notizen
 --> 
 
 <ion-list style="background-color: #f0f0df"  reorder="true">
   <p>   </p>
     <h2 >Notizen </h2>
     <ion-item-sliding *ngFor="let note of filteredNoteList | async " >
       <ion-item style="background-color: #f0f0df" >
         <ion-card style="background-color: #cee4a3">
               <ion-card-content>
                 
                 <b>Tag des Eintrags</b>
                 <p>{{note.date}}</p>
                 <b>Notiz</b>
                 <p>{{note.note}}</p>
               
               </ion-card-content>
             
             </ion-card>
           </ion-item>
     </ion-item-sliding>
   </ion-list> 

         <!--
 Liste der gefilterten Schmerzlevel
 --> 
 
 <ion-list style="background-color: #f0f0df"  reorder="true">
  <p>   </p>
    <h2 >Schmerzlevel </h2>
    <ion-item-sliding *ngFor="let pain of filteredPainList | async " >
      <ion-item style="background-color: #f0f0df" >
        <ion-card style="background-color: #cee4a3">
              <ion-card-content>
                
                <b>Tag des Eintrags</b>
                <p>{{pain.date}}</p>
                <b>Schmerzstärke</b>
                <p>{{pain.plev}} von 10</p>
              
              </ion-card-content>
            
            </ion-card>
          </ion-item>
    </ion-item-sliding>
  </ion-list> 

</div>

<div   [hidden]="shouldHideAll" >
    <!--
 Liste  aller Notizen
 --> 
 
 <ion-list style="background-color: #f0f0df" reorder="true">
    <p>   </p>
      <h2 >Notizen </h2>
      <ion-item-sliding style="background-color: #f0f0df"  *ngFor="let note of allNoteList | async " >
        <ion-item style="background-color: #f0f0df" >
          <ion-card style="background-color: #cee4a3">
                <ion-card-content>
                  
                  <b>Tag des Eintrags</b>
                  <p>{{note.date}}</p>
                  <b>Notiz</b>
                  <p>{{note.note}}</p>
                
                </ion-card-content>
              
              </ion-card>
            </ion-item>
      </ion-item-sliding>
    </ion-list> 

  <!-- Liste aller Schmerzlevel -->
  
  <ion-list style="background-color: #f0f0df"  reorder="true">
      <p>   </p>
      <h2 >Schmerzlevel</h2>
    <ion-item-sliding style="background-color: #f0f0df"  *ngFor="let pain of allPainList | async " >
      <ion-item style="background-color: #f0f0df" >
        <ion-card style="background-color: #cee4a3">
              <ion-card-content>
                
                <b>Tag des Eintrags</b>
                <p>{{pain.date}}</p>
                <b>Schmerzstärke</b>
                <p>{{pain.plev}} von 10</p>
              </ion-card-content>
            
            </ion-card>
          </ion-item>
    </ion-item-sliding>
  </ion-list>

  </div>
   

</ion-content>
