// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// Basisfarben der App

$colors: (
  primary:    #a4d5a3,
  secondary:  #08443c,
  danger:     #f8f8f8,
  light:      #cee4a3,
  dark:       #030c0b
);


// Überschreiben von Standardvariabeln
$text-color: #08443c;
$action-sheet-md-button-text-color: #08443c;
$action-sheet-ios-button-text-color: #08443c;
$action-sheet-md-button-background: #08443c;
$toolbar-background:#08443c;
$toolbar-ios-text-color:#08443c;
$toolbar-wd-text-color:#08443c;
$toolbar-md-text-color:#08443c;

$card-md-background-color: #cee4a3;
$card-ios-background-color: #cee4a3;


$toolbar-md-title-text-color: #a4d5a3;
$toolbar-ios-title-text-color: #a4d5a3;
$toolbar-wp-title-text-color: #a4d5a3;

$menu-ios-background: primary;
$menu-md-background: primary;
$menu-wp-background: primary;

.titleicon div{
display:inline-block;
margin-bottom:10px;
}
// CSS Klasse für Buttons
.btn{
  width: 100%;
  
  
  padding: 0;
 border-radius: 30px;
  border-style: solid;
  border-width: 2px
  
  
};

.large{
  font-size: 50px;
  
  
};
// CSS Klasse für Bilder
 .img {
 
  margin: auto;
  display: block;
  }
  
// CSS Klasse für zweite Button Klasse
.btn2{

  
  
  padding: 0;
 border-radius: 30px;
  border-style: solid;
  border-width: 2px
  
  
};



.hide {
  visibility: hidden;
}
// Klasse für zentrierte Buttons
.centbtn{
  margin-left: auto;
  margin-right: auto;
}
// Klasse für die Navigation
.navbarStyle{
  border-bottom: 5px color($colors, secondary) solid;
  // box-shadow: 0px 5px 5px color($colors, secondary);
  }

$button-round-border-radius: 10px;

[text-color="my-custom-color"] {
  color: #08443c;
}

.menu{
background-color:#a4d5a3

}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
