<!--
  Generated template for the SensorverbindenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Schrittzähler</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #f0f0df"  padding>
  
<h3> Zu lange Sitzen schadet dir! </h3>
<ion-grid>
    <ion-row>
      <ion-col col-9>
          <p>Es ist deshalb wichtig, dass du dich regelmässig bewegst. Pro Tag solltest Du mindestens 6'000 Schritte tun. Mit dem integrierten Schrittzähler kannst du stehts den Überblick zu den zurückgelegten Schritten behalten.</p>
      </ion-col>
      <ion-col>
        <button ion-button color="secondary" outline (click)="btnClickedInfo()" icon-only>
            <ion-icon name="information-circle"></ion-icon>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <button ion-button class="btn" style="color:#030c0b" round (click)="startBgMode()">Hintergrundmodus aktivieren</button>
  
  
  <button ion-button class="btn" style="color:#030c0b" round (click)="stopBgMode()">Hintergrundmodus deaktivieren</button>

  <ion-row text-center>
    <ion-col>
    </ion-col>
    <ion-col>



     <p class="count">{{stepCount}}</p>  

     <br/>
     <br/>

     <button *ngIf="!start" ion-button outline round block icon-right color="secondary" (click)="fnGetPedoUpdate()">start  <ion-icon name="play"></ion-icon> </button>
    <button *ngIf="start" ion-button outline round block icon-right color="danger" (click)="fnStopPedoUpdate()">stop  <ion-icon name="pause"></ion-icon> </button>

    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <b>Tag des Eintrages auswählen:</b>
       <p></p>
     <ion-item style="background-color: #f0f0df" >
          
          <ion-img item-start [width]="50" [height]="50" src="../../assets/imgs/cal.png" class="img"></ion-img>
          
          
      <ion-datetime item-content  displayFormat="DD-MM-YYYY"  [(ngModel)]="tdate ">
          
      
      </ion-datetime>
      <p></p>
      <p></p>
    </ion-item>
  
  <ion-row>
      <ion-col width-50 style="text-align: center">
    <button ion-button (click)="addSteps()" class="btn2" style="color:#030c0b" big round icon-start>
        <ion-icon name="add-circle"></ion-icon>
       Schritte Speichern</button>
    </ion-col>
    
    </ion-row>  
 

</ion-content>
