page-schmerz-lokalisation {

    ion-content{
        background-image: url('../../assets/imgs/Lokalisation.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: center;
        background-position-y: top;

        button{
            position: relative;
            left: 6%;
        }

        ion-grid{
            position: fixed;
            top: 12%;
            height: 88%;
        }
    }

}
